body{
	margin:0;
}
section div:nth-child(1){
	text-align: center;
	background-color: black;
	width: 100%;
	font-size: 18px;
	margin-top: -22px;
}
section div:nth-child(1) > h3{
	color: red;
}
section div:nth-child(2) h3{
	color: blue;
}

section div:nth-child(2) h3+p,section div:nth-child(3) h3+p{
	font-style: italic;
}

.firstLetter+span{
	font-weight: bold;
	color: red;
}

#btn{
	text-decoration: none;
	color:white;
	background-color: blue;
	border-radius: 5px;
	padding: 5px;
}

/*
|
| cara tepat
|
*/

/*section > div > h3{
	color: red;
}

section > div > div:first-child > h3{
	color: blue;
}*/