body{
	margin:0;
}

ul{
	border-bottom: 1px solid;
	color: white;
	margin-block-start:0;
	margin-block-end:0;
	padding-inline-start:0;
}

ul li{
	list-style: none;
	margin: 13px 15px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

header{
	background: url('../bg-home.jpg'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	background-blend-mode: overlay;
	background-size: cover; 
  	height: 100vh;
}

.text-center{
	text-align: center;
}

.text-white{
	color: white;
}

.text-underline{
	text-decoration:underline;
}

.container{
	margin: 0 50px;
}

.flex-container{
	display: flex;
}

.flex-right{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

.button{
	margin-top: 2px;
	margin-bottom: 3px;
	border:1px solid;
	border-radius:10px;
	background-color: orange;
}

.button:hover{
	border: 1px solid;
	border-radius: 15px;
	background-color: white;
	color: orange;
}

.button:hover a{
	color: orange;
}

.flex-column{
  display: flex;
  flex-direction: column;
  height: auto;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.flex-column-center > div{
	margin:10px auto;
}

.container-margin{
	margin-top:13%;
}

.more{
	text-decoration:none;
	border-radius: 5px;
	background-color: orange;
	height: 35px;
}

.more a{
	display: inline-block;
	text-decoration:none;
	padding:0 15px;
	margin-top: 9px;
}

.flex-column-container{
	display: flex;
  	align-items: stretch;
  	width: 100%;
  	margin: 10px auto;
}

.flex-grow-14{
	flex-grow: 14;
	width: 100px;
}

.flex-grow-1{
	flex-grow: 1;
	width: 100px;
}

.img-150{
	height: 150px;
	width: 150px;
}

.artikel-more{
	text-decoration:none;
	border-radius: 5px;
	background-color: orange;
	height: 35px;
	width: 65px;
}

.artikel-more a{
	display: inline-block;
	text-decoration:none;
	padding:0 15px;
	margin-top: 9px;
}
