body,h1,h2,h3,h4,h5,h6{
	width: 100%;
	margin: 0;
	font-family: "Open Sans";
}

ul{
	padding-inline-start: 0;
}
li{
	list-style:none; 
	float: left;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
nav{
	margin: 0 20px;
}

.logo{
	height: 30px;
	width: 30px;
	margin-left: 5px;
}

.container{
	display: grid;
	grid-template-columns:40px 300px 60px 60px 60px 60px 60px auto 150px;
  	grid-template-rows: 30px;
}

button{
	background-color: blue;
	color: white;
	border-color: blue;
	border-radius: 20px;
	padding:10px;
}

li a{
	text-decoration: none;
	color: black;
}

.item-z{
	align-self: center;
}

.item-a{
	align-self: center;
}

.item-b{
	align-self: center;
}

.item-c{
	align-self: center;
}

.item-d{
	align-self: center;
}

.item-e{
	align-self: center;
}

.item-f{
	align-self: center;
}

.item-g{
	justify-self:end;
	align-self: center;
}

.item-h{
	justify-self:end;
	align-self: center;
}

.header{
	background: url('../bg-home.jpg');
	background-size: cover;
	height: 100vh;
}