body{
	margin:0;
	font-family: 'Source Serif Pro';
}

header{
	width: 100%;
	background-color: white;
}

nav{
	min-width: 100%;
}

ul{
	width: 100%;
	margin-top: -18px;
}

ul li{
	list-style: none;
	float: left;
}

.top-head{
	width: 100%;
	background-color: black;
	margin-top: -20px;
}

.top-head h3{
	color: yellow;
	margin-left: 45px;
	padding: 15px 0px;
}

.col-left{
	width: 33.3333%;
}

.col-right{
	width: 80.66666666%;
	float: left;
	height: 50px;
}

.col-right .right{
	margin-top: 15px;
}

.right{
	float: right;
}

.right li{
	margin-left: 20px;
}

.right li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.logo{
	height: 50px;
	width: 100px;
}

.clear{
	clear: both;
}

.container{
	background: url('../images/amnesti/bg.jpeg') no-repeat;
	background-size: cover;
	margin-top: -5px;
	height: calc(100vh - 103px) ;
	width: 100%;
}

.center{
	margin-left: 40px;
	position: absolute;
  	top: 60%;
  	transform: translateY(-40%);
}

.col-1{
	padding: 10px;
	background-color: yellow;
	margin-bottom: 15px;
}

.col-2{
	padding: 10px;
	background-color: white;
}
