*{
	margin: 0;
	padding: 0;
}

html{
	background-color: white;
}

body{
    height: 100%;
    width :100%;
}

nav{
	display: block;
}

.container{
	width: 60%;
	margin: auto;
}

.flex-container{
	display: flex;
  	flex-wrap: wrap;
}

.flex{

	display: flex;
	width: 100px;
	height: 100px;
	margin: 5px;
	border-radius: 10px;
	justify-content: center;
}

.text-center{
	margin:auto;
	min-height: 10px;
	min-width: 10px;
	text-align: center;
}

.text-center a{
	text-decoration: none;
	color: white;
}

.red{background-color: #943126;}
.red-1{background-color: #B03A2E;}
.red-2{background-color: #CB4335;}
.red-3{background-color: #CB4335;}
.red-4{background-color: #E74C3C;}
.red-5{background-color: #EC7063;}

.violet{background-color: #633974;}
.violet-1{background-color: #76448A;}
.violet-2{background-color: #884EA0;}
.violet-3{background-color: #9B59B6;}
.violet-4{background-color: #AF7AC5;}
.violet-5{background-color: #C39BD3;}

.purple{background-color: #5B2C6F;}
.purple-1{background-color: #6C3483;}
.purple-2{background-color: #7D3C98;}
.purple-3{background-color: #8E44AD;}
.purple-4{background-color: #A569BD;}
.purple-5{background-color: #BB8FCE;}

.blue{background-color: #1A5276;}
.blue-1{background-color: #1F618D;}
.blue-2{background-color: #2471A3;}
.blue-3{background-color: #2980B9;}
.blue-4{background-color: #5499C7;}
.blue-5{background-color: #7FB3D5;}

.blue-green{background-color: #117864;}
.blue-green-1{background-color: #148F77;}
.blue-green-2{background-color: #17A589;}
.blue-green-3{background-color: #1ABC9C;}
.blue-green-4{background-color: #48C9B0;}
.blue-green-5{background-color: #76D7C4;}

.green-{background-color:#1D8348;}
.green-{background-color:#239B56;}
.green-{background-color:#28B463;}
.green-{background-color:#2ECC71;}
.green-{background-color:#58D68D;}
.green-{background-color:#82E0AA;}

.yellow{background-color: #9A7D0A;}
.yellow-1{background-color: #B7950B;}
.yellow-2{background-color: #D4AC0D;}
.yellow-3{background-color: #F1C40F;}
.yellow-4{background-color: #F4D03F;}
.yellow-5{background-color: #F7DC6F;}

.orange{background-color: #9C640C;}
.orange-1{background-color: #B9770E;}
.orange-2{background-color: #D68910;}
.orange-3{background-color: #F39C12;}
.orange-4{background-color: #F5B041;}
.orange-5{background-color: #F8C471;}

.brown{background-color: #873600;}
.brown-1{background-color: #A04000;}
.brown-2{background-color: #BA4A00;}
.brown-3{background-color: #D35400;}
.brown-4{background-color: #DC7633;}
.brown-5{background-color: #E59866;}

.grey{background-color: #515A5A;}
.grey{background-color: #616A6B;}
.grey{background-color: #707B7C;}
.grey{background-color: #7F8C8D;}
.grey{background-color: #99A3A4;}
.grey{background-color: #B2BABB;}
