@font-face {
    font-family: Roboto;
    src: url("../lion/fonts/Roboto-Regular.ttf");
}
body{
	margin: 0;
	font-family: Roboto;
	font-size: 14px;
}

ul{
	padding-inline-start: 0;
}
li{
	list-style:none; 
	float: left;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

li a{
	text-decoration: none;
	color: white;
}

.grid-container{
	display: grid;
	grid-template-areas: 
	'menu'
	'section-1'
	'section-2'
	'section-3'
	'section-4'
	'footer';
}
.menu{
	grid-area: menu;
	width: 100%;
	background-color:red;
}
.section-1{
	grid-area: section-1;
	width: 100%;
	background: url("../../asset/lion/img/bg-header.png");
	background-size: 100% 100%;
	background-position: center;
	padding-bottom: 100px;

}
.section-2{
	grid-area: section-2;
	width: 100%;
}
.section-3{
	grid-area: section-3;
	width: 100%;
	background-color: white;
}
.section-4{
	grid-area: section-4;
	width: 100%;
}
.footer{
	grid-area: footer;
	width: 100%;
}

.container{
	margin: 0 10%;
}

.navbar{
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px; 
	justify-content: space-between;
}

.brand{
	align-self: center;
}

.right{
	justify-content: end;
	display: grid;
	grid-template-columns: 140px 140px;
	grid-template-rows: 50px;
}

.login {
	justify-self:end;
	align-self: center;
	border: 1px solid;
	padding: 8px 35px;
	border-color: white;
	background-color: white;
}

.login a{
	color: red;
}

.regis{
	justify-self:end;
	align-self: center;
	border: 1px solid;
	padding: 8px 35px;
	border-color: white;
}

.intro{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto;
	padding: 100px 0;
}

.intro-text{
	width: 100%;
	color: white;
	margin-top: 20%;
}

.intro-header{
	width: 70%;
}

.intro-btn{
	background-color: white;
	color: red;
	width: 30%;
	height: 10%;
	text-align: center;
	margin: 30px 0;
}

.intro-btn a{
	display: inline-block;
	text-decoration: none;
	color: red;
	padding: 10px;	
}

.intro-logo{
	text-align: center;
}

.service{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	grid-template-areas: 
    "header header header"
    "service-1 service-2 service-3";
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}

.header{
	grid-area: header;
}

.service-1{
	grid-area:service-1;
}

.service-2{
	grid-area:service-2;
}

.service-3{
	grid-area:service-3;
}